*{
    color:#555;
}
a, a:focus{
    color:#555;
    text-decoration:none !important; 
}
label{
    font-weight:600;
}
img{
    width:100%;
}
body{
    margin-bottom: 60px;
}
.bd-left{
    float:left;
}
.bd-right{
    float:right;
}
.btn, .form-control, .modal{
    border-radius: 4px;
}
.top-bar{
    position: fixed;
    width: 100%;
    z-index: 10;
    padding:15px 0;
    background-color:#fff;
}
.top-tool{
    margin: 0 auto;
    padding: 18px;
}
.brand{
    float:left;
    display:block;
    font-size:1.1em;
    font-weight:600;
    color:#555 !important;
    text-decoration:none !important;
}
.form-search{
    float: right;
    border: 1px solid #ddd;
    margin: -4px 8px;
    outline: unset;
    border-radius: 5px;
    padding: 10px 15px;
    font-size:0.9em;
    color:#555;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
}
.tool-menu{
    position: relative;
    float: right;
    display: block;
    margin: -5px 8px;
    padding: 8px;
    font-size: 1.2em;
    cursor:pointer;
}
.dropmenu{
    position:absolute;
    top: 57px;
    right:0px;
    padding:0;
    height:0;
    transition:0.3s;
    z-index:13;
    overflow:hidden;
}
.dropmenu-in{
    padding:15px;
    border-radius:4px;
    border:1px solid #ddd;
    background-color:#fff;
}
.drop-hide{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:transparent;
    z-index:11;
}
.dropmenu-ac{
    height:auto;
}
.dropmenu li{list-style:none}
.dropmenu li a{
    display: block;
    width: 200px;
    padding: 7px 0 7px 20px;
    text-align: left;
    color: #555;
    text-decoration: none;
    transition: 0.3s;
}
.dropmenu li a:hover{color:#e74a3b;}

.body-content{
    padding-top:150px;
}

.slidep-img{
    position:relative;
    height:729px;
    overflow:hidden;
}
.slidep-img-1{
    position:absolute;
    height:729px;
    transform: translate(0%,0%);
}

.stok-item{
    position: relative;
    margin-bottom:30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.1);
}
.stok-link{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 4;
}
.stok-img{
    position:relative;
    height:416px;
    overflow:hidden;
}
.stok-img-1{
    position:absolute;
    height:416px;
    transform: translate(0%,0%);
}
.stok-detail{
    position:relative;
    padding: 15px;
    padding-right:119px;
}
.stok-harga{
    margin: 5px 0;
    font-size: 0.9em;
    color:orange;
}
.stok-ac{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
}
.stok-suka{
    position: absolute;
    top: 2px;
    left: -34px;
    font-size: 1.6em;
}
.suka-item i{
    color:#fe2c55;
}
.stok-beli{
    display:inline-block;
    background-color: #f57c00;
}

footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding: 15px 0;
    border-top:1px solid #ddd;
}
.text-footer{
    text-align:center;
    margin:0;
}

.produk-nama{
    font-size: 2em;
}
.produk-harga{
    color:orange;
}
.btn-produk{
    color:#fff;
    background-color:#f57c00;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.1);
}

.beli-harga{
    color:orange;
    margin-bottom:5px
}
.plus-qty, .nilai-qty, .min-qty{
    float:left;
}
.plus-qty, .min-qty{
    font-size:0.8em;
    padding:4px 10px 2px;
    border: 1px solid #ddd;
    cursor:pointer;
    border-radius: 5px;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0,0,0,0.1);
}
.nilai-qty{
    padding:3px 10px;
}
.close{
    margin-top: 0;
    opacity: unset;
}
.ac-alamat{
    cursor:pointer;
    padding:5px 0px;
    margin-bottom:15px;
    border-top:1px solid #ddd;
}
.icon-alamat{
    float:right;
}

.form-register{
    max-width: 500px;
    margin: 0 auto;
    padding-top:100px;
    padding-bottom:50px;
}
.logo-register{
    font-size:4em;
}
.btn-register{
    display:block;
    width:200px;
    margin:0 auto;
}